<extends src="main.html">
  <block name="template">
    <table class="email-wrapper w-full font-sans">
      <tr>
        <td align="center">
          <table class="email-content w-full">
            <component src="header.html"></component>
            <raw>
              <tr>
                <td class="email-body w-full bg-white">
                  <table align="center" class="email-body_inner w-[570px] bg-white mx-auto sm:w-full">
                    <tr>
                      <td class="p-[45px]">
                        <div class="text-base">
                          <h1 class="mt-0 text-2xl font-bold text-left text-gray-postmark-darker"> {{t 'email.password_reset.title' dArgs }},</h1>
                          <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">{{{t 'email.password_reset.description'}}}</p>
                          <table align="center" class="w-full text-center my-7.5 mx-auto">
                            <tr>
                              <td align="center">
                                <table class="w-full">
                                  <tr>
                                    <td align="center" class="text-base">
                                      <a href="{{action_url}}" class="button button--green" target="_blank">{{ t 'email.password_reset.action_button' }}</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                          <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">
                            {{{t 'email.password_reset.bottom' dArgs }}}
                          </p>
                          <p class="mt-1.5 mb-[5px] text-base leading-6 text-gray-postmark-dark">
                            {{t 'email.thanks' }}
                            <br>{{t 'email.team_and_company' }}
                          </p>
                          <table class="body-sub">
                            <tr>
                              <td>
                                <p class="mt-1.5 mb-[5px] text-xs leading-6 text-gray-postmark-dark">{{t 'email.url_browser' }}</p>
                                <p class="mt-1.5 mb-[5px] text-xs leading-6 text-gray-postmark-dark">{{action_url}}</p>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </raw>
            <component src="footer.html"></component>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
